{% extends "account/base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="container">
    <div class="sign-in-w3ls">
        <div class="alert-close1"> </div>
        <h3>Sign In</h3>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="col-md-6 text-left ">{{ form.username }}</div>
            <div class="col-md-6 text-left ">{{ form.password }}</div>
            <a href="{% url 'account:user_register' %}">Register</a>
            <a href="{% url 'account:user_password_reset'">Forgot Password?</a><br>
            <div class="clear"></div>
            <input type="submit" value="Sign In">
        </form>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}