{% extends 'base1.html' %}
{% block title %}my information{% endblock %}
{% block content %}
<div class="main-content">
<div class="container-fluid">
<div id="toastr-demo" class="panel">
<div class="panel-body">
<div class="row text-center vertical-middle-sm">
    <h1>Edit My Information</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
                <div class="row">
                <div class="col-md-4 text-right"><span>用户名：</span></div>
                <div class="col-md-8 text-left"><span>{{ user.username }}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>邮箱：</span></div>
                <div class="col-md-8 text-left"><span>{{ user_form.email }}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>学号：</span></div>
                <div class="col-md-8 text-left"><span>{{ userprofile_form.stunamber}}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>专业：</span></div>
                <div class="col-md-8 text-left"><span>{{ userprofile_form.major }}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>学校：</span></div>
                <div class="col-md-8 text-left"><span>{{ userinfo_form.school }}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>院系：</span></div>
                <div class="col-md-8 text-left"><span>{{ userinfo_form.major}}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>所获证书：</span></div>
                <div class="col-md-8 text-left"><span>{{ userinfo_form.getcert }}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>地址：</span></div>
                <div class="col-md-8 text-left"><span>{{ userinfo_form.address }}</span></div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 text-right"><span>个人介绍：</span></div>
                <div class="col-md-8 text-left"><span>{{ userinfo_form.aboutme }}</span></div>
            </div>
             <div class="row" style="margin-top:10px">
                 <input type="submit" class="btn btn-primary btn-md" value="Submit">
             </div>
            </form>
        </div>

    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}